@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    padding-right: 20px;
    padding-left: 20px;
}

.logo{
    width: 100px;
}

.nav-items ul{
    display: flex;

}

.nav-items ul li{
    margin: 20px;
    cursor: pointer;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 800;
    font-size: larger;
    font-style: normal;
}

.body{
    
}

.search{
    font-size: large;
    height: 50px;
    padding: 15px;
    width: 300px;
    border: 1px solid black;
    margin: 5px;
    border-radius: 35px;
    cursor: auto;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
    margin: 0 45px;
    
}

.res-card{
    margin: 15px;
    width: 250px;
    height: 400px;
    cursor: pointer;
    background-color: #ededed;
}

.res-card p{
    margin: 3px;
}

.res-card:hover{
    border: 1px solid black;
}

.res-logo{
    width: 100%;
    margin: 0 auto;
}