@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
    box-sizing: border-box;
    text-overflow: hidden;
}

.active{
    color: #ff7300;
}

.menu-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 50%;
    border: 1px solid black;
    margin: 2px;
    font-size: large;
    padding: 5px;
}